# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".
# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# See docs/Config_Reference.md for a description of parameters. test!
[include mainsail.cfg]
[include Macros.cfg]
#[include PIS.cfg] #For accelaration probe
[include ebb2209can.cfg]
[include eddy-ng.cfg]
[virtual_sdcard]
path: ~/printer_data/gcodes
#[include stealthburner_leds.cfg]
[include barf.cfg]
[display_status]
[pause_resume]

[exclude_object]


[printer]
kinematics: corexy
max_velocity: 300 #200
max_accel: 5000 #1000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0

[mcu] #Afterburner Toolhead
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_45004A0009504B304B333620-if00
#[mcu]
#canbus_uuid: 718bca8d3eb3

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#[temperature_sensor mcu_temp]
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 100

[input_shaper]
#shaper_freq_x: 64.2
#shaper_type_x: mzv
#shaper_freq_y: 43
#shaper_type_y: mzv


[gcode_arcs]
resolution: 1.0

#####################################################################
#  Daylight on a Stick
#####################################################################
[output_pin daylight_pin]
pin: PD14 # Replace with your specific board pin (e.g., PA13 for Octopus HE1)
pwm: True
value: 1.0 # Initial state: 1.0 = on, 0.0 = off
shutdown_value: 0.0
cycle_time: 0.010 # 10ms (100Hz PWM)
scale: 100 # Allows setting brightness from 0-100

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PE9
dir_pin: !PF1
enable_pin: !PF2
microsteps: 16
rotation_distance: 39.820806
endstop_pin: PB10
position_endstop: 350
position_max: 350
position_min: 0
homing_speed: 50

[stepper_y]
step_pin: PE11
dir_pin: !PE8
enable_pin: !PD7
microsteps: 16
rotation_distance: 39.820806
endstop_pin: PE12
position_endstop: 350
position_max: 350
homing_speed: 50

[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
gear_ratio: 50:10
rotation_distance: 21.44
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan:gpio27
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300

#[extruder]
#step_pin: PE13
#dir_pin: !PC2
#enable_pin: !PC0
#microsteps: 16
# Default for Bondtech 5mm Bore Drive Gears
#rotation_distance: 22.1276575
#gear_ratio: 50:17 #50:17 CW1
#microsteps: 16
#full_steps_per_rotation: 200
#nozzle_diameter: 1 # 0.400
#filament_diameter: 1.750
#pressure_advance_smooth_time: 0.040
#heater_pin: PD12
#sensor_pin:  PF4 # T1 Header
#sensor_type: Generic 3950 # EPCOS 100K B57560G104F Bis hier auskommentiert für can
#control: pid # waren schon auskommentiert
#pid_kp = 26.656
#pid_ki = 1.676
#pid_kd = 105.959
#min_temp: 10 # für can
#min_extrude_temp: 10 #165
#max_temp: 270
#Set appropriate once tuning your printer
#pressure_advance: .05 #0.67
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040
#max_extrude_only_distance: 200.0

[stepper_z]
step_pin: PE14
dir_pin: PA0
enable_pin: !PC3
microsteps: 16
rotation_distance: 8.004802881729038
endstop_pin: probe:z_virtual_endstop #!PG8
#position_endstop: 0.5
position_max: 360
position_min: -10

[stepper_z1]
step_pin: PD15
dir_pin: PE7
enable_pin: !PA3
microsteps: 16
rotation_distance: 8.004802881729038
#endstop_pin: !PG8
#position_endstop: 0.5
#position_max: 200

[stepper_z2]
step_pin: PD13
dir_pin: PG9
enable_pin: !PF0
microsteps: 16
rotation_distance: 8.004802881729038
#endstop_pin: !PG8
#position_endstop: 0.5
#position_max: 200

# vorher1.3
#[probe]
#pin: PG8
#x_offset: 0
#y_offset: 0
#z_offset: 0
#speed: 5.0
#samples: 2
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.05
#samples_tolerance_retries: 3
#
#x_offset: 0
#y_offset: 25.0
#z_offset = 0.75
#speed: 10.0
#samples: 1
#samples_result: average
#sample_retract_dist: 2.0
#samples_tolerance: 0.05
#samples_tolerance_retries: 3

[homing_heaters]
heaters: extruder, heater_bed
#   A comma separated list of heaters to disable during homing/probing
#   moves. The default is to disable all heaters.

[safe_z_home]
home_xy_position: 175, 175 #200, 310 #160
speed: 50
z_hop: 15
z_hop_speed: 5

[z_tilt]
##	Use Z_TILT_ADJUST to level the bed left to right.
##	z_positions: Location of axis
z_positions:
   -51, 10
   175, 398
   401, 10
points:
   30, 30
   175, 300
   320, 30

speed: 200
horizontal_move_z: 2.0
retries: 15
retry_tolerance: 0.03

########################################
# Bed Meshing
########################################
#don’t run SAVE_CONFIG at the end of your BED_MESH_CALIBRATE, and run BED_MESH_CLEAR after running bed mesh
#[bed_mesh]
#speed: 100
#horizontal_move_z: 10
#mesh_min: 25, 25 #40, 40
#mesh_max: 340, 294 #310, 310
#fade_start: 0.6
#fade_end: 10.0
#probe_count: 10,10
#algorithm: bicubic
#relative_reference_index: 12



[heater_bed]
heater_pin: PB1 # Heat0
sensor_pin: PF3 # T0
sensor_type: Generic 3950 #EPCOS 100K B57560G104F #ATC Semitec 104GT-2
min_temp: 0
max_temp: 130
max_power: 0.6
control = pid
pid_kp = 54.960
pid_ki = 1.918
pid_kd = 393.653

[verify_heater heater_bed]
# adjust for personal bed setup, this prevents stock heated bed from issuing
# false positive heating errors due to slow temperature increase
check_gain_time: 80 #600 in TronxyX5S Vorlage

#[fan] #printCoolingFan
#pin: PC8

#[heater_fan pi_fan]
#pin: PD14
#heater: extruder
#max_power: 1.0
#kick_start_time: 0.5


#[heater_fan fan_Heater]
#pin: PE5
#heater: extruder
#heater_temp: 50.0

#[controller_fan fan_controller]
#pin: PE6
#max_power: 1.0
#kick_start_time: 0.5
#off_below: 0.13
#cycle_time: 0.010
#heater: extruder,heater_bed
#idle_timeout: 60 

[temperature_fan electronics_fan]
pin: PE5                # Change to your actual fan pin
sensor_type: temperature_mcu
sensor_mcu: mcu         # Name of your MCU
min_temp: 0
max_temp: 100
target_temp: 35      # Fan starts working to reach this temp
control: watermark      # Simple on/off hysteresis
max_delta: 2.0          # Hysteresis range
max_speed: 1.0
min_speed: 0.0
shutdown_speed: 0.0
kick_start_time: 0.5


[temperature_fan rpi_fan]
pin: PE6
sensor_type: temperature_host # This represents the Raspberry Pi
sensor_path: /sys/class/thermal/thermal_zone0/temp
control: watermark
min_temp: -10
max_temp: 85
target_temp: 35
max_delta: 2.0
max_speed: 1.0
min_speed: 0.4
shutdown_speed: 0.0
kick_start_time: 0.5

[controller_fan driver_fan]
pin: PC8
#max_power: 1.0
#shutdown_speed: 0
#cycle_time: 0.010
#hardware_pwm: False
kick_start_time: 0.5
fan_speed: 0.8
idle_timeout: 60
#idle_speed: 0.0
stepper: stepper_x, stepper_y, stepper_z, extruder

[fan_generic EBB_fan]
pin: EBBCan:gpio6
max_power: 1.0
kick_start_time: 0.5
# off_below: 0.10

#######################################
#### Enclosure Temp Sensor Section ####
#######################################
#[thermistor chamber_temp]
#temperature1: 25
#resistance1: 10000
#beta: 3950
[temperature_sensor chamber]
sensor_type: Generic 3950 # Change to your sensor type
sensor_pin: PF6                #; Change to your pin
min_temp: 0
max_temp: 300
gcode_id: C

#[temperature_sensor enclosure_temp]
#sensor_type: chamber_temp
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#gcode_id: C

#####################################################################
#    Filament Motion Sensor
#####################################################################

[filament_switch_sensor SFS_T0]
#detection_length: 10.00 ; This can be adjusted to your desired level of sensitivity. 10 is a recommended value to prevent flow dropoff false triggers.
#extruder: extruder
switch_pin: ^PA1 #PE4 #^PE15
pause_on_runout: FALSE #True ; This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below.
event_delay: 6.0
#pause_delay: 0.5
debounce_delay: 4.0
runout_gcode:
    M117 Runout Detected!
    PAUSE


########################################
# TMC2130 configuration
########################################

[tmc2130 stepper_x]
cs_pin: PA15
spi_bus: spi3a
#diag1_pin: PB10
run_current: 0.800
stealthchop_threshold: 0 #999999

[tmc2130 stepper_y]
cs_pin: PB8
spi_bus: spi3a
#diag1_pin: PE12
run_current: 0.800
stealthchop_threshold: 0 #999999

#[tmc2130 extruder]
#cs_pin: PB9
#spi_bus: spi3a
#diag1_pin: PE15
#run_current: 0.5 #0.800
#hold_current: 0.4
#sense_resistor: 0.110
#stealthchop_threshold: 0 #999999

[tmc2130 stepper_z]
cs_pin: PB3
spi_bus: spi3a
#diag1_pin: PG8
run_current: 0.650
stealthchop_threshold: 0 #999999

[tmc2130 stepper_z1]
cs_pin: PG15
spi_bus: spi3a
#diag1_pin: PG8
run_current: 0.650
stealthchop_threshold: 0 #999999

[tmc2130 stepper_z2]
cs_pin: PG12
spi_bus: spi3a
#diag1_pin: PG8
run_current: 0.650
stealthchop_threshold: 0 #999999

########################################
# EXP1 / EXP2 (display) pins
########################################
#[display]
#lcd_type: st7920
#cs_pin: EXP1_4
#sclk_pin: EXP1_5
#sid_pin: EXP1_3
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

#[output_pin beeper]
#pin: EXP1_1


#[board_pins]
#aliases:
#    # EXP1 header
#    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
#    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
#    # EXP2 header
#    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
#    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
#    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.617
#*# pid_ki = 1.740
#*# pid_kd = 101.809
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.338994, 0.023352, 0.131451, 0.198176, 0.220526, 0.204377, 0.161185, 0.087550, -0.017076, -0.133206
#*# 	-0.340464, -0.007924, 0.103138, 0.162999, 0.180970, 0.161185, 0.105612, 0.027879, -0.079392, -0.200002
#*# 	-0.300634, -0.029639, 0.063653, 0.115485, 0.129010, 0.100326, 0.037525, -0.048686, -0.152148, -0.280283
#*# 	-0.328173, -0.063814, 0.022095, 0.070606, 0.069345, 0.034960, -0.032331, -0.120644, -0.230547, -0.359924
#*# 	-0.288573, -0.094808, -0.024350, 0.015282, 0.006475, -0.034304, -0.110250, -0.207277, -0.318999, -0.454857
#*# 	-0.308280, -0.128977, -0.063814, -0.028999, -0.046653, -0.086240, -0.167011, -0.273587, -0.381056, -0.511769
#*# 	-0.275016, -0.138119, -0.082856, -0.057411, -0.071913, -0.115108, -0.200692, -0.294595, -0.413614, -0.541180
#*# 	-0.259418, -0.132535, -0.089626, -0.061773, -0.077334, -0.126195, -0.207971, -0.307554, -0.423200, -0.547149
#*# 	-0.238637, -0.139857, -0.096506, -0.079064, -0.097831, -0.149335, -0.232070, -0.331237, -0.454004, -0.579657
#*# 	-0.244930, -0.168430, -0.110250, -0.101995, -0.115108, -0.159933, -0.241576, -0.347519, -0.467423, -0.582287
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 339.95
#*# min_y = 47.0
#*# max_y = 329.96
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 17
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 17
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDULUq7HMddfc/n5hAvugb/D83OCwmTJPnP+IslK1Y3uI/wbg/3CwZ0D8CSMjEEXPcv2+k55AWcZY/eTsHz6r66D8H7Df5k3S6P2PyM0/OnNG/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQL0ykv/bPlD7Q/F2VBSeVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQx0nn3NnFGkCVc0y8oPgJQIxsovpv3/o/26/RHMvE9j9wk27r7J3sP0ws707TGfO/hyQTHFkOsr+SQjRZWWoHQAoFrO4JnOY/IbNZrYxJ8L+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEIN+1X4NJJU+RLkXVRU4lT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1A5lbry1BCVPpSdT4lljCE+bv/E8E6cEr5tygTyPlQFPrHc4IlbNfS9Chu1P/hcAL4cbMXe5qLyPW3evfIgxQM+m1XrUwBG4r1atjcohRHwvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQADhP3pcdxj/A8lThdPQTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/xh2X3k84AEdALf/nYDh+j2WMB2ZfcmFuZ2WUXZQoR0FIIRVcj5gAR0FImcvlczgAZYwCZGOUSxB1Lg==
#*# calibration_17 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUACiNAABS/Q/pMDaCmU3/D++3omXFFLoP+hY7HnRvdg/w049NIcE2z/79eleeRPePz9kTEXVhce/UT9EEF9X2786lY1v8yHQP3dXVnEqs9Q/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQbShuJr3XlD6jb30MhkKVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQjssoFEC2GkD5R086A0oJQKIiGp4Guvs/gr92krbTAkC8KrdtU9/oP5VrJ4wMeBLAofwWmltclL8U1/1GLLwdQPSJQ2F30+Y/WBGtxlzfB8CUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEFmnjRgwP5U+/SeyuVdUlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DaJoZWFymVPleqXxtwqiQ+8eQEXcfzGL5GoYeTY5AJPvXIFLMh2Y89dDsFCiHO8r1i2lmEfdj+vVengD1YoQA+RtJYyFrW8T37ki2uInDxvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQgFPWNmGuST8ARCulXv0TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/Sa5hNtZTgEdALf/3Dtca8mWMB2ZfcmFuZ2WUXZQoR0FIAR1cV+gAR0FIkJ6d0OAAZYwCZGOUSxF1Lg==
#*# tap_adjust_z = -0.065
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 63.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 42.0
